/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  Links  */
/*  @media */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: #fff;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  font-weight: 300;
  font-size: 30px;
  color: #676767;
  margin: 0 0 40px;
  text-align: center;
  position: relative;
  display: inline-block;
}

h1:hover:after {
  width: 40%;
  left: 33%;
  content: "";
  position: absolute;
  height: 1px;
  bottom: -15px;
  border-bottom: 2px solid #209ae7;
}

h2 {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  font-weight: 300;
  font-size: 35px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.clearfix {
  content: '';
  display: block;
  line-height: 0;
  clear: both;
}

/* ------------------------------------------------------------ *	Header
\* ------------------------------------------------------------ */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
}

.header .inner {
  padding: 20px;
}

.header .inner .logo_mobile img {
  width: 200px;
}

.header .nav_trigger {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 10px 12px;
  float: right;
}

.phone {
  display: none;
  position: absolute;
  top: 30px;
  right: 120px;
  color: #fff;
  line-height: 25px;
  font-weight: 400;
}

.lang_mobile {
  font-weight: 400;
  text-align: right;
  padding-right: 20px;
}

.lang_mobile a {
  font-size: 15px;
  line-height: 25px;
  color: #676767;
  padding: 0 5px;
}

.lang_mobile a:hover, .lang_mobile a:active {
  font-weight: 600;
}

.lang {
  display: none;
}

@media only screen and (min-width: 1023px) {
  .header {
    height: 91px;
    position: static;
    top: auto;
    bottom: 0;
    background: #fff;
  }
  .header .inner {
    padding: 0;
  }
  .header .inner .logo_mobile {
    display: none;
  }
  .header .inner .nav_trigger {
    display: none;
  }
  .phone {
    display: block;
  }
  .lang_mobile {
    display: none;
  }
  .lang {
    display: block;
    position: fixed;
    top: 31px;
    right: 20px;
    color: #fff;
    font-weight: 400;
  }
  .lang a {
    font-size: 15px;
    line-height: 25px;
    padding: 0 2px;
    color: #fff;
  }
  .lang a:hover, .lang a:active {
    color: #b9b9b9;
  }
  .is-sticky .lang {
    color: #b9b9b9;
  }
  .is-sticky .lang a {
    color: #b9b9b9;
  }
  .is-sticky .lang a:hover, .is-sticky .lang a:active {
    color: #209ae7;
  }
}

@media only screen and (min-width: 1100px) {
  .lang a {
    padding: 0 5px;
  }
  .phone {
    right: 150px;
  }
}

/* ------------------------------------------------------------ *	Intro section
\* ------------------------------------------------------------ */
.intro {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  background-image: url("/css/images/section_intro_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text_center_inner {
  position: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 100px;
}

.text_center_inner .text_center {
  margin: 0 auto;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.text_center_inner .text_center .logo {
  display: block;
}

.text_center_inner .text_center .intro_title {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin: 50px 0;
  display: block;
}

.text_center_inner .text_center .intro_title:hover:after {
  border-bottom: none;
}

@media only screen and (min-width: 1023px) {
  .intro {
    max-height: calc(100% - 91px);
    max-height: -webkit-calc(100% - 91px);
    max-height: -moz-calc(100% - 91px);
  }
  .text_center_inner .text_center .intro_title {
    font-size: 50px;
    margin: 100px 0;
  }
}

@media only screen and (min-width: 1100px) {
  .text_center_inner .text_center .intro_title {
    font-size: 60px;
    margin: 100px 0;
  }
}

/* ------------------------------------------------------------ *	Navigation
\* ------------------------------------------------------------ */
.nav {
  display: none;
}

.nav .nav_wrapper ul li a {
  color: #676767;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-weight: 400;
  margin: 15px 0;
  padding: 10px 0;
  display: block;
  text-transform: uppercase;
  position: relative;
}

.nav .nav_wrapper ul li a:before {
  position: absolute;
  background: #209ae7;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  opacity: 0;
  top: -5px;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 125ms ease-in-out 0s;
  -moz-transition: all 125ms ease-in-out 0s;
  -ms-transition: all 125ms ease-in-out 0s;
  -o-transition: all 125ms ease-in-out 0s;
  transition: all 125ms ease-in-out 0s;
}

.nav .nav_wrapper ul li a:after {
  background: #209ae7;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  opacity: 0;
  bottom: -15px;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 125ms ease-in-out 0s;
  -moz-transition: all 125ms ease-in-out 0s;
  -ms-transition: all 125ms ease-in-out 0s;
  -o-transition: all 125ms ease-in-out 0s;
  transition: all 125ms ease-in-out 0s;
}

.nav .nav_wrapper ul li a:hover:after, .nav .nav_wrapper ul li a:active:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.nav .nav_wrapper ul li a:hover:before, .nav .nav_wrapper ul li a:active:before {
  opacity: 1;
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.nav .nav_wrapper .logo_nav {
  display: none;
}

.nav .nav_wrapper .logo_nav a:hover:before, .nav .nav_wrapper .logo_nav a:hover:after {
  opacity: 0;
}

.nav.active {
  display: block;
  width: 100%;
  height: 100vh;
  transform: translateX(0);
  text-align: center;
  margin-top: -1px;
  background: #fff;
}

@media only screen and (min-width: 1023px) {
  .nav {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav .nav_wrapper {
    width: 980px;
    margin: 0 auto;
  }
  .nav .nav_wrapper ul .logo_nav,
  .nav .nav_wrapper ul li {
    display: inline-block;
    margin: 0 6px;
  }
  .nav .nav_wrapper ul .logo_nav a,
  .nav .nav_wrapper ul li a {
    color: #676767;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1100px) {
  .nav .nav_wrapper ul li {
    margin: 0 10px;
  }
}

/* ------------------------------------------------------------ *	See-more
\* ------------------------------------------------------------ */
.btn_right_arrow {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-weight: 300;
  font-size: 15px;
  z-index: 1;
}

.btn_right_arrow .fa {
  margin-left: 10px;
}

.btn_right_arrow.white {
  color: #fff;
  border: 1px solid #fff;
}

.btn_right_arrow.white:hover, .btn_right_arrow.white:active {
  color: #209ae7;
  font-weight: 600;
}

.btn_right_arrow.white:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #fff;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn_right_arrow.white:hover:after {
  height: 100%;
}

.btn_right_arrow.blue {
  color: #209ae7;
  border: 1px solid #209ae7;
  margin-top: 50px;
}

.btn_right_arrow.blue:hover, .btn_right_arrow.blue:active {
  color: #fff;
  font-weight: 600;
}

.btn_right_arrow.blue:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #209ae7;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn_right_arrow.blue:hover:after {
  height: 100%;
}

/* ------------------------------------------------------------ *	Scroll-down
\* ------------------------------------------------------------ */
.scroll_down.white {
  display: none;
  margin-top: 50px;
}

.scroll_down.white .arrow {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.scroll_down.white .arrow:after {
  content: url("/css/images/scroll_down_arrow.png");
  display: block;
  margin-top: 20px;
}

.scroll_down.blue {
  display: none;
  margin-top: 50px;
}

.scroll_down.blue .arrow {
  color: #209ae7;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.scroll_down.blue .arrow:after {
  content: url("/css/images/scroll_down_arrow_blue.png");
  display: block;
  margin-top: 10px;
}

.bounce:after {
  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (min-width: 1023px) {
  .scroll_down.white,
  .scroll_down.blue {
    display: block;
  }
}

/* ------------------------------------------------------------ *	Service section
\* ------------------------------------------------------------ */
.services {
  background-image: url("/css/images/service_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding: 40px 0;
  margin-top: -91px;
}

.text_center_white {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
}

.text_center_white .circle_center_wrapper .circle_center {
  padding: 20px;
}

.text_center_white .circle_center_wrapper .circle_center p {
  color: #676767;
  font-size: 13px;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
  word-break: keep-all;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #209ae7;
  display: block;
  margin: 0 auto;
}

.circle .icon.research:before {
  display: block;
  content: url("/css/images/research_blue.png");
}

.circle .icon.design:before {
  display: block;
  content: url("/css/images/design_blue.png");
}

.circle .icon.development:before {
  display: block;
  content: url("/css/images/development_blue.png");
}

.circle .icon.mobile:before {
  display: block;
  content: url("/css/images/mobile_app_blue.png");
}

.circle .icon {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #209ae7;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.circle:hover {
  background: #209ae7;
}

.circle:hover .icon {
  color: #fff;
}

.circle:hover .icon.research:before {
  content: url("/css/images/research_white.png");
}

.circle:hover .icon.design:before {
  display: block;
  content: url("/css/images/design_white.png");
}

.circle:hover .icon.development:before {
  display: block;
  content: url("/css/images/development_white.png");
}

.circle:hover .icon.mobile:before {
  display: block;
  content: url("/css/images/mobile_white.png");
}

@media only screen and (min-width: 768px) {
  .text_center_white {
    overflow: hidden;
  }
  .text_center_white .circle_center_wrapper .circle_center {
    width: 50%;
    float: left;
    margin: 0;
    padding: 30px;
  }
}

@media only screen and (min-width: 1023px) {
  .services {
    margin-top: auto;
  }
  .services h1 {
    font-size: 40px;
  }
  .text_center_white .circle_center_wrapper {
    width: 980px;
    margin: 0 auto;
  }
  .text_center_white .circle_center_wrapper .circle_center {
    width: 25%;
    padding: 10px;
  }
  .text_center_white .circle_center_wrapper .circle_center p {
    font-size: 15px;
  }
}

/* ------------------------------------------------------------ *	Project section
\* ------------------------------------------------------------ */
.projects {
  background: url("/css/images/project_background.png") no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.projects h1 {
  color: #fff;
}

.gallery {
  display: block;
  padding: 0 20px;
  margin: 0 0 50px;
}

.gallery .gallery_project {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #f0f8ff;
}

.gallery .gallery_project img {
  display: block;
  width: 100%;
}

.gallery_overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 100%;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gallery_overlay .title {
  color: #fff;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
  letter-spacing: 0.5px;
  margin-top: 20%;
}

.gallery_overlay .text {
  color: #209ae7;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
  margin-top: 15%;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0;
    overflow: hidden;
  }
  .gallery .gallery_project {
    width: 48%;
    float: left;
    margin: 0 0 10px 10px;
  }
}

@media only screen and (min-width: 1023px) {
  .projects h1 {
    font-size: 40px;
  }
  .gallery {
    margin-top: 25px;
  }
  .gallery .gallery_project {
    width: 32%;
    border: none;
  }
  .gallery_project:hover .gallery_overlay {
    opacity: 1;
    height: 100%;
    bottom: 0;
  }
}

/* ------------------------------------------------------------ *	Clients section
\* ------------------------------------------------------------ */
.clients {
  background: #fff;
  text-align: center;
  padding: 40px 0;
}

.slider {
  position: relative;
  margin: 30px auto;
}

.slider .swiper-container {
  width: 80%;
}

.swiper-slide img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.swiper-slide img:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.swiper-slide .logo_easpd img,
.swiper-slide .logo_bigla img,
.swiper-slide .logo_pkw img,
.swiper-slide .logo_royal_kavarna img {
  margin-top: 10px;
}

.swiper-slide .logo_airlia img,
.swiper-slide .logo_GVA img,
.swiper-slide .logo_hydropro img,
.swiper-slide .logo_aviata-cruises img,
.swiper-slide .logo_elite_estate img,
.swiper-slide .logo_dani img,
.swiper-slide .logo_motobul img,
.swiper-slide .logo_zov img {
  margin-top: 15px;
}

.swiper-slide .logo_bulins img,
.swiper-slide .logo_cocologo img,
.swiper-slide .logo_disability img,
.swiper-slide .logo_brevis img,
.swiper-slide .logo_hydroweb img {
  margin-top: 25px;
}

.swiper-slide .logo_aeropark img,
.swiper-slide .logo_parking_valet img,
.swiper-slide .logo_ambra img,
.swiper-slide .logo_ihc_ships img,
.swiper-slide .logo_julian_kostov img,
.swiper-slide .logo_mashinite img,
.swiper-slide .logo_romytech img,
.swiper-slide .logo_winnertips img {
  margin-top: 35px;
}

.slider .swiper-button-next {
  background: url("/css/images/right_arrow.png") no-repeat;
  z-index: 1;
  margin-top: -18px;
}

.slider .swiper-button-prev {
  background: url("/css/images/left_arrow.png") no-repeat;
  z-index: 1;
  margin-top: -18px;
}

@media only screen and (min-width: 1023px) {
  .clients h1 {
    font-size: 40px;
  }
  .slider {
    width: 980px;
  }
}

/* ------------------------------------------------------------ *	Contacts section
\* ------------------------------------------------------------ */
.contacts {
  background: #17394f;
  text-align: center;
}

.contacts .contacts_center {
  padding: 0 20px;
}

.contacts .contacts_center h2 {
  display: block;
  padding: 50px 0;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
}

.contacts .contacts_center .btn_right_arrow.white {
  margin-bottom: 50px;
}

.contacts .contacts_center .btn_right_arrow.white:hover, .contacts .contacts_center .btn_right_arrow.white:active {
  color: #17394f;
}

@media only screen and (min-width: 1023px) {
  .contacts {
    text-align: right;
  }
  .contacts .contacts_center {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
  }
  .contacts .contacts_center h2 {
    font-size: 35x;
    line-height: 45px;
    padding: 0;
    float: left;
    clear: left;
  }
  .contacts .contacts_center .btn_right_arrow.white {
    margin-bottom: 0;
  }
}

/* ------------------------------------------------------------ *	Footer
\* ------------------------------------------------------------ */
.footer {
  background: #252c34;
  padding: 20px 0;
}

.footer .footer_center {
  padding: 0 20px;
}

.footer .footer_center p {
  color: #676767;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

.social_icons {
  text-align: center;
  padding-bottom: 20px;
}

.social_icons li {
  display: inline-block;
  margin: 0 7px;
}

.social_icons li .fa {
  font-family: FontAwesome;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #546374;
}

.social_icons li .fa:hover {
  color: #fff;
}

@media only screen and (min-width: 1023px) {
  .footer .footer_center {
    width: 980px;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer_center p {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
  }
  .footer .footer_center .social_icons {
    float: right;
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */