@charset "UTF-8";
/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Fonts
\* ------------------------------------------------------------ */
@font-face {
  font-family: 'Monotype Corsiva';
  src: url("../fonts/monotype-corsiva/Monotype Corsiva.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'DancingScript';
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DancingScript';
  src: url("../fonts/Dancing_Script/DancingScript-Bold.ttf") format("truetype");
}

/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  Links  */
/*  @media */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: yellow;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.clearfix {
  content: '';
  display: block;
  line-height: 0;
  clear: both;
}

/* ------------------------------------------------------------ *	Intro section
\* ------------------------------------------------------------ */
.intro {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 80px);
  max-height: -webkit-calc(100% - 80px);
  max-height: -moz-calc(100% - 80px);
}

.intro .background_image {
  background-image: url("/css/images/section_intro_background.png");
  background-repeat: no-repeat;
  height: 100%;
  min-height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  position: relative;
}

.intro .background_image .text_center_inner {
  height: 100%;
  min-height: 750px;
  width: 90%;
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.intro .background_image .text_center_inner .text_center {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.text_center .logo {
  display: block;
  margin-top: 150px;
}

.text_center h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 100px 0;
}

.text_center .btn_right_arrow {
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #fff;
  font-weight: 300;
  font-size: 15px;
}

.text_center .btn_right_arrow .fa {
  margin-left: 10px;
}
 

 /*# sourceMappingURL= style.css.map */