/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
    background: #252c34;
    padding: 20px 0;
    & .footer_center {
        padding: 0 20px;
        & p {
            color: #828588;
            text-align: center;
            line-height: 25px;
            font-size: 13px;
        }
        & .social_icons {
            text-align: center;
            padding-top: 20px;
            & li {
                display: inline-block;
                margin: 0 7px;
                & .fa {
                    font-family: FontAwesome;
                    font-size: 30px;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 400;
                    line-height: 35px;
                    color: #546374;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
    .footer {
        overflow: hidden;
        & .footer_center {
            width: 980px;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            & p {
                display: inline-block;
                font-size: $font-size-15;
                line-height: 30px;
            }
            & .social_icons {
                vertical-align: middle;
                float: right;
                padding-top: 0;
            }
        }
    }
}