/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
    // height: 80px;
    & .inner {
        padding: 20px;
    }
    .logo_mobile {
        & img {
            width: 200px;
        }
    }
    .nav_trigger {
        border: 1px solid $gray;
        border-radius: 4px;
        padding: 10px 12px;
        float: right;
    }
}

.phone {
    display: none;
    position: absolute;
    top: 29px;
    left: 10px;
    color: $white;
    line-height: 25px;
}

.lang {
    font-weight: 400;
    text-align: right;
    padding-right: 20px;
    & a {
        font-size: 14px;
        line-height: 25px;
        color: $dark;
        padding: 0 5px;
        &:hover {
            font-weight: 600;
        }
    }
}

@media #{$tablet} {
    .phone {
        right: 150px;
        left: auto;
    }
}