/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */


/*  Colors  */

$white: #fff;
$black: #000;
$gray:#b9b9b9;
$dark:#676767;
$blue:#209ae7;

/*  Base body  */

$font-family: "Open Sans",
sans-serif;
$font-size-15: 15px;

/*  Links  */

$color-link: inherit;

/*  @media */

$smartphone: "only screen and (min-width : 480px)";
$tablet: "only screen and (min-width : 768px)";
$desktop: "only screen and (min-width : 1023px)";
$hd_desktop:"only screen and (min-width: 1366px)";