/* ------------------------------------------------------------ *\
	Service section
\* ------------------------------------------------------------ */

.services {
    background-image: url("/css/images/service_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 40px 0;
    margin-top: -91px;
}

.text_center_white {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 0;
    & .circle_center_wrapper {
        & .circle_center {
            padding: 20px;
            & p {
                color: $dark;
                font-size: 13px;
                font-weight: 300;
                margin-top: 30px;
                text-align: center;
                word-break: keep-all;
            }
        }
    }
}

.icon {
    display: block;
    text-align: center;
    font-family: $font-family;
    color: $blue;
    font-size: $font-size-15;
    line-height: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.icon.research:before {
    display: block;
    content: url('/css/images/research_blue.png');
}

.icon.design:before {
    display: block;
    content: url('/css/images/design_blue.png');
}

.icon.development:before {
    display: block;
    content: url('/css/images/development_blue.png');
}

.icon.mobile:before {
    display: block;
    content: url('/css/images/mobile_app_blue.png');
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid $blue;
    display: block;
    margin: 0 auto;
}

.circle:hover {
    background: $blue;
}

.circle:hover .icon {
    color: $white;
}

.circle:hover .icon.research:before {
    content: url('/css/images/research_white.png');
}

.circle:hover .icon.design:before {
    display: block;
    content: url('/css/images/design_white.png');
}

.circle:hover .icon.development:before {
    display: block;
    content: url('/css/images/development_white.png');
}

.circle:hover .icon.mobile:before {
    display: block;
    content: url('/css/images/mobile_white.png');
}

@media #{$tablet} {
    .text_center_white {
        overflow: hidden;
        & .circle_center_wrapper {
            & .circle_center {
                width: 50%;
                float: left;
                margin: 0;
                padding: 30px;
            }
        }
    }
}

@media #{$desktop} {
    .services {
        margin-top: auto;
        & h1 {
            font-size: $font-size-40;
        }
    }
    .text_center_white {
        & .circle_center_wrapper {
            width: 980px;
            margin: 0 auto;
            & .circle_center {
                width: 25%;
                padding: 10px;
                & p {
                    font-size: $font-size-15;
                }
            }
        }
    }
}