/* ------------------------------------------------------------ *\
	Navigation
\* ------------------------------------------------------------ */

.nav {
    display: none;
    & .nav_wrapper {
        & ul {
            & li {
                & a {
                    color: $dark;
                    font-size: 14px;
                    font-family: $font-family;
                    line-height: 25px;
                    font-weight: 400;
                    margin: 15px 0;
                    padding: 10px 0;
                    display: block;
                    text-transform: uppercase;
                    &:hover {
                        color: $blue;
                        font-weight: 600;
                        border-top: 2px solid $blue;
                        border-bottom: 2px solid $blue;
                    }
                }
            }
        }
        & .logo_nav {
            display: none;
            & a {
                &:hover {
                    border-top: none;
                    border-bottom: none;
                }
            }
        }
    }
    &.active {
        display: block;
        width: 100%;
        height: 100vh;
        transform: translateX(0);
        text-align: center;
        margin-top: -1px;
        background: $white;
    }
}

@media #{$desktop} {
    .nav {
        display: block;
        width: 100%;
        text-align: center;
        & .nav_wrapper {
            width: 980px;
            margin: 0 auto;
            & ul {
                & .logo_nav,
                & li {
                    display: inline-block;
                    margin: 0 10px;
                    & a {
                        color: $dark;
                        font-size: $font-size-15;
                    }
                }
            }
        }
    }
}