/* ------------------------------------------------------------ *\
	Navigation
\* ------------------------------------------------------------ */

.nav {
    display: none;
    & .nav_wrapper {
        & ul {
            & li {
                & a {
                    color: $dark;
                    font-size: 14px;
                    font-family: $font-family;
                    line-height: 25px;
                    font-weight: 400;
                    margin: 15px 0;
                    padding: 10px 0;
                    display: block;
                    text-transform: uppercase;
                    position: relative;
                    &:before {
                        position: absolute;
                        background: $blue;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        content: '';
                        opacity: 0;
                        top: 0;
                        -webkit-transform: translateY(-10px);
                        -moz-transform: translateY(-10px);
                        transform: translateY(-10px);
                        transition: all 125ms ease-in-out 0s;
                        -moz-transition: all 125ms ease-in-out 0s;
                        -ms-transition: all 125ms ease-in-out 0s;
                        -o-transition: all 125ms ease-in-out 0s;
                        transition: all 125ms ease-in-out 0s;
                    }
                    &:after {
                        background: $blue;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        content: '';
                        opacity: 0;
                        bottom: -15px;
                        -webkit-transform: translateY(-10px);
                        -moz-transform: translateY(-10px);
                        transform: translateY(-10px);
                        transition: all 125ms ease-in-out 0s;
                        -moz-transition: all 125ms ease-in-out 0s;
                        -ms-transition: all 125ms ease-in-out 0s;
                        -o-transition: all 125ms ease-in-out 0s;
                        transition: all 125ms ease-in-out 0s;
                    }
                    &:hover:after {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        transform: translateY(0);
                    }
                    &:hover:before {
                        opacity: 1;
                        top: 0;
                        -webkit-transform: translateY(-10px);
                        -moz-transform: translateY(-10px);
                        transform: translateY(-10px);
                    }
                }
            }
        }
        & .logo_nav {
            display: none;
            & a {
                &:hover:before,
                &:hover:after {
                    opacity: 0
                }
            }
        }
    }
    &.active {
        display: block;
        width: 100%;
        height: 100vh;
        transform: translateX(0);
        text-align: center;
        margin-top: -1px;
        background: $white;
    }
}

@media #{$desktop} {
    .nav {
        display: block;
        width: 100%;
        text-align: center;
        & .nav_wrapper {
            width: 980px;
            margin: 0 auto;
            & ul {
                & .logo_nav,
                & li {
                    display: inline-block;
                    margin: 0 10px;
                    & a {
                        color: $dark;
                        font-size: $font-size-15;
                    }
                }
            }
        }
    }
}