/* ------------------------------------------------------------ *\
	Intro section
\* ------------------------------------------------------------ */

.intro {
    display: table;
    max-height: calc(100% - 90px);
    max-height: -webkit-calc(100% - 90px);
    max-height: -moz-calc(100% - 90px);
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/css/images/section_intro_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    & .text_center_inner {
        position: inherit;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        & .text_center {
            margin: 0 auto;
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            & .logo {
                display: block;
            }
            & h1 {
                font-size: 30px;
                line-height: 45px;
                color: $white;
                font-weight: 300;
                letter-spacing: 2px;
                margin: 50px 0;
            }
        }
    }
}

@media #{$desktop} {
    .text_center h1 {
        font-size: 40px;
    }
}