/* ------------------------------------------------------------ *\
	Intro section
\* ------------------------------------------------------------ */

.intro {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    background-image: url("/css/images/section_intro_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text_center_inner {
    position: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 100px;
}

.text_center {
    margin: 0 auto;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    & .logo {
        display: block;
    }
    & .intro_title {
        font-size: $font-size-30;
        color: $white;
        letter-spacing: 2px;
        margin: 50px 0;
        display: block;
        &:hover:after {
            border-bottom: none;
        }
    }
}

@media #{$desktop} {
    .intro {
        max-height: calc(100% - 91px);
        max-height: -webkit-calc(100% - 91px);
        max-height: -moz-calc(100% - 91px);
    }
    .text_center .intro_title {
        font-size: 50px;
        margin: 100px 0;
    }
}

@media only screen and (min-width: 1100px) {
    .text_center .intro_title {
        font-size: 60px;
        margin: 100px 0;
    }
}