/* ------------------------------------------------------------ *\
	Scroll-down
\* ------------------------------------------------------------ */

.scroll_down.white {
    display: none;
    margin-top: 100px;
    & .arrow {
        color: $white;
        font-family: $font-family;
        font-size: $font-size-15;
        font-weight: 300;
        &:after {
            content: url("/css/images/scroll_down_arrow.png");
            display: block;
            margin-top: 20px;
        }
    }
}

.scroll_down.blue {
    display: none;
    margin-top: 50px;
    & .arrow {
        color: $blue;
        font-family: $font-family;
        font-size: $font-size-15;
        font-weight: 300;
        &:after {
            content: url("/css/images/scroll_down_arrow_blue.png");
            display: block;
            margin-top: 10px;
        }
    }
}

.bounce:after {
    -moz-animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media #{$desktop} {
    .scroll_down.white,
    .scroll_down.blue {
        display: block;
    }
}