/* ------------------------------------------------------------ *\
	Clients section
\* ------------------------------------------------------------ */

.clients {
    background: $white;
    text-align: center;
    padding: 40px 0;
}

.slider {
    position: relative;
    margin: 30px auto;
    & .swiper-container {
        width: 80%;
        & .swiper-slide .swiper-slide-image-container {
            text-align: center;
            & .logo_aeropark {
                padding-top: 15px;
            }
            & .logo_parking_valet {
                padding-top: 17px;
            }
        }
    }
    & .swiper-button-next {
        background: url("/css/images/right_arrow.png") no-repeat;
        z-index: 1;
    }
    & .swiper-button-prev {
        background: url("/css/images/left_arrow.png") no-repeat;
        z-index: 1;
    }
}

@media #{$desktop} {
    .clients h1 {
        font-size: $font-size-40;
    }
    .slider {
        width: 980px;
    }
}